block variables
doctype
html(lang=pageLang)
    head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# " + pageOgpType + ": http://ogp.me/ns/" + pageOgpType + "#")
        if pageTitle
            title #{pageTitle} | #{site.name}
        else
            title #{site.name}

        meta(name="description" content=pageDescription)

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="format-detection" content="telephone=no")

        //-noindex
        //-meta(name='robots', content='noindex,nofollow')


        //- OGP
        if pageOgpTitle
            meta(property="og:title" content=pageOgpTitle + ' | ' + site.name)
        else
            meta(property="og:title" content=site.name)
        meta(property="og:type" content=pageOgpType)
        meta(property="og:image" content=pageOgpImage)
        meta(property='og:image:width', content='1200')
        meta(property='og:image:height', content='630')
        meta(property="og:url" content=site.rootUrl + pageUrl)
        meta(property="og:description" content=pageDescription)
        meta(property="og:site_name" content=site.name)
        meta(property="og:locale" content=pageLang)

        //- OGP Twitter Cards
        if pageOgpTitle
            meta(name='twitter:text:title', content=pageOgpTitle + ' | ' + site.name)
        else
            meta(name='twitter:text:title', content=site.name)

        meta(name='twitter:image', content=pageOgpImage)
        meta(name='twitter:card', content='summary_large_image')
        meta(name="twitter:creator" content="@maki_saki")
        //- /OGP Twitter Cards
        //- /OGP

        block mata
        link(rel='icon', href='/assets/images/favicon.png',type='image/png')
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')
        block link

        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-37476229-16')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-37476229-16');


        block script

    block body
