//- inlide file
extends /_include/_layout
include /_include/_mixin

append variables
    //- Required
    - var pageTitle= "";
    - var pageDescription= '書きたい気持ちはあるけどブログを続けられない、そんなメンバーで集まったブログを書くためだけに集まったコミュニティ。通称「ブログ会」の紹介サイトです';
    //- Optional
    - var pageOgpTitle= "site.name";
    - var pageOgpImage= site.ogpImage
    - var pageLang= "ja";
    - var pageOgpType= "website";
    //- Not modified
    - var pageUrl= relativePath;
    - var pageDir= './';
    - var imageDir= pageDir+'assets/images/';


    block meta

    block link

    block script

block body
    body.p-lp.p-lp--home
        .c-container.op-short
            .w-heaher
                .b-header
                    .w-logo
                        h1.logo
                            img(src=imageDir + 'common/logo.svg',alt='週1でブログを書く会')
                    .w-read
                        p.text ブログを持っていますか？<br>そのブログはちゃんと更新されてますか？
                        p.text この「週1でブログを書く会」はブログを書く習慣を身につけるためのグループです。
            hr.c-line-content
        .c-container.op-short
            .w-head-body
                .w-description
                    p.description-text この「週1でブログを書く会」のメンバーは最初はみんな、ブログをたまにしか書けない人達でした。
                    p.description-text でもグループで集まって、みんなが日々ちゃんとブログを更新できてる姿を見ると、自然と書けるようになりました。
                    p.description-text たまに書けない時期が出てくると、誰かが「ブログ書けてないけど大丈夫？」と声をかけてくれます。
                    p.description-text 一人じゃ辛い時に同じ目標をもった人がいる事、それが刺激になって今のメンバーはちゃんと週一でブログを書けるようになっています。
                    p.description-text もし、あなたがみんなのようにブログをちゃんと更新できるようになりたいと思っているのであれば、一緒にこのグループに参加しませんか？
                .w-bottom-button
                    .bottom-button
                        a(href='#contact').c-button グループに参加する（無料です）
        .w-main-content
            section.b-section
                .w-section-title
                    h2.c-section-title 私達がしている事
                .w-secsion-text.c-container.op-short
                    p.text グループといっても堅苦しいルールがあるわけではありません。<br>私達のルールはただひとつ。
                    p.text 必ず「週に一回はブログを更新する」という事です。
                    p.text 上下関係もありません。<br>クオリティの審査や評価もありません、ただただ更新し続けるだけです。
                    p.text 更新については、自動で記事を書いていない期間がみんながわかるようにリスト化されています。<br>その仕組があるからこそ、続けてる人、サボっている人がすぐにわかるようになっています。
                .w-secsion-image.c-container.op-short
                    img(src=imageDir+'item/screen-schot.png',alt='実際の更新管理シートのキャプチャ')
                    .c-box-notes
                        span.c-text-attention ※7日以上更新しないとシートに色が付いて目立つようにしています。

                .w-section-child.c-container.op-short
                    .w-section-title-child
                        h2.c-section-title-child 私達がしている事
                    .w-secsion-text
                        p.text グループといっても堅苦しいルールがあるわけではありません。<br>私達のルールはただひとつ。
                        p.text 必ず「週に一回はブログを更新する」という事です。
                        p.text 上下関係もありません。<br>クオリティの審査や評価もありません、ただただ更新し続けるだけです。
                        p.text 更新については、自動で記事を書いていない期間がみんながわかるようにリスト化されています。<br>その仕組があるからこそ、続けてる人、サボっている人がすぐにわかるようになっています。
            //私達がしている事

            section.b-section
                .w-section-title
                    h2.c-section-title ブログを書き続ける理由
                .w-secsion-text.c-container.op-short
                    p.text どうしてあなたはブログを書く習慣を身につけたいのですか？<br>私達も「文章を構成する練習をしたい」「ブランディング」「SEO試す」「人のブログにお世話になりっぱなしなので、自分も人の役に立ちたい」など人それぞれの目的があります。
                    p.text 目的はそれぞれ違いますが、私達はみんな「ブログをやっていてよかった」といます。
                    p.text 継続が目的ですが得るものがとても多くあります。<br>何を得られるかはあなた自信でやってみて実感してみてください。
                    p.text ひとつだけお伝えしますと、ブログを更新し続けると「信頼」を得ます。<br>それはこのグループの人だけではありません、あなたの周りの人、あなたのブログを読んでいる人様々です。
                    p.text 私達はブログを週一で続けてるからこそ、今の自分があると断言しています。<br>自分の意思で続けたブログは裏切りません。<br>多くのメリットがあります。
                    p.text あなたも一緒に私達と同じ経験をしませんか？
                .w-section-bottom-button.c-container.op-short
                    .section-bottom-button
                        a(href='#contact').c-button グループに参加する（無料です）
            //ブログを書き続ける理由

            section.b-section
                .w-section-title
                    h2.c-section-title 参加メンバー
                .w-secsion-text.c-container.op-short
                    p.text このグループは2014年にとある勉強会でブログを継続して書けない人達が「週一でブログを書く」と決意したメンバー8人で発足しました。
                    p.text 途中で一人、二人と脱落するメンバーがいました。<br>今残ってる初期メンバーは、3人です。
                    p.text しかし私達の心意気に共感・刺激を受けて仲間たちがどんどん増えています。
                    p.text 今は20人ほどのメンバーがいます。
                    p.text メンバーを一部の紹介します。


                .w-secsion-member.c-container.op-short
                    .w-list-member-loop
                        mixin list-member(iconSrc,blogUrl,tag,title,name,twUrl)
                            .b-list-member
                                .l-flex
                                    .l-flex-block1
                                        .w-member-image
                                            img(src=iconSrc,alt=name)
                                    .l-flex-block2
                                        .w-member-title
                                            .title #{title}
                                        .w-member-name
                                            .name #{name}
                                            .w-sns
                                                .tw
                                                    a(href=twUrl,target='_blank')
                                                        img(src=imageDir + 'icons/sns-user-tw.svg',alt=name)
                                        .w-member-tag
                                            .b-tag-list
                                                .tag-icon
                                                    img(src=imageDir + 'icons/tag.svg',alt='タグ')
                                                ul.c-tag-list
                                                    for item, index in tag
                                                        li.list
                                                            span #{item}

                                    .l-flex-block3
                                        .w-member-button
                                            a(href=blogUrl,target='_blank').b-button.op-small
                                                .l-flex
                                                    .w-icon
                                                        img(src=imageDir + 'icons/blog-home.svg',alt='ブログ').icon
                                                    .w-text
                                                        .text ブログを見る

                        //コンチ
                        - var iconSrc = imageDir+'user/conti.png';
                        - var blogUrl = 'https://blog.cntlog.net/';
                        - var tag = ['Webデザイン'];
                        - var title = 'グループ１の応援上手';
                        - var name = 'コンチ';
                        - var twUrl = 'https://twitter.com/maki_saki';
                        +list-member(iconSrc,blogUrl,tag,title,name,twUrl)

                        //よしパン
                        - var iconSrc = imageDir+'user/yoshipan.png';
                        - var blogUrl = 'https://yoshipan.com/';
                        - var tag = ['育児','Web'];
                        - var title = '育児系ブロガー';
                        - var name = 'よしパン';
                        - var twUrl = 'https://twitter.com/yoshipan';
                        +list-member(iconSrc,blogUrl,tag,title,name,twUrl)

                        //▲
                        - var iconSrc = imageDir+'user/msms.png';
                        - var blogUrl = 'https://blog.mismithportfolio.com/';
                        - var tag = ['カメラ','プログラミング'];
                        - var title = 'ブログ会の風雲児';
                        - var name = '▲';
                        - var twUrl = 'https://twitter.com/misumi_takuma';
                        +list-member(iconSrc,blogUrl,tag,title,name,twUrl)

            .c-container
                section.b-section
                    .w-section-title
                        h2.c-section-title 参加の流れ

                    .w-section-content-block.c-container.op-short
                        .b-list-flow
                            mixin list-flow(num,text)
                                li.list
                                    .w-flow-step
                                        span.flow-step #{num}
                                    .w-flow-text
                                        p.text #{text}
                            +list-flow(1,'フォームから応募ください。')
                            +list-flow(2,'グループのメンバーからfacebookのグループへ招待があります。')
                            +list-flow(3,'グループに参加後、軽く自己紹介の投稿と記事更新管理シートに記入いただきます。')
                            +list-flow(4,'週一でブログ書き続けます。')
            //参加の流れ

            section.b-section#contact
                .w-section-title
                    h2.c-section-title 応募
                //.w-secsion-text
                    p.text 何か文言を思いついたら追加

                .w-section-form.c-container.op-short
                    .w-form-item-block
                        //mixin lp-form-item(tag,name,type,placeholder)
                            .b-form-item
                                .w-category
                                    .l-flex
                                        if tag !== false
                                            .tag #{tag}
                                        .name #{name}
                                .w-input
                                    input(type='#{type}')
                                .w-placeholder
                                    .c-placeholder #{placeholder}
                        //mauticフォーム
                        script(type='text/javascript', src='//shu1-blog.mautic.net/form/generate.js?id=1')

                //.w-section-bottom-button
                    .section-bottom-button
                        a(href='#todo').c-button 送信する
            //応募

            .b-lp-footer
                .w-message
                    .message \ よかったら、シェアしてください /
                .w-share
                    ul.c-list-share
                        li
                            a(href= 'http://twitter.com/share?url=https://shu-1blog.com/&hashtags=週1ブログ会')
                                img(src=imageDir + 'icons/share-icon-tw.svg',alt='twitterでシェア')
                        li
                            a(href= 'https://www.facebook.com/sharer/sharer.php?u=https://shu-1blog.com/')
                                img(src=imageDir + 'icons/share-icon-fb.svg',alt='facebookでシェア')


            script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
            script(src='//cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js')
            script(src='/assets/js/common.js')
            script.
                (function (w, d, t, u, n, a, m) {
                    w['MauticTrackingObject'] = n;
                    w[n] = w[n] || function () {
                                (w[n].q = w[n].q || []).push(arguments)
                            }, a = d.createElement(t),
                            m = d.getElementsByTagName(t)[0];
                    a.async = 1;
                    a.src = u;
                    m.parentNode.insertBefore(a, m)
                })(window, document, 'script', 'https://shu1-blog.mautic.net/mtc.js', 'mt');
                mt('send', 'pageview');









